.solid-black-border, th{
    border: 2px solid black;
    padding: 5px;
}
td{
    padding: 5px;
    border: 1px solid black;
}
.pagination span {
    border: 1px solid black;
    padding:10px;
    cursor: pointer;
}
.pagination{
    padding-top: 20px;

}
.selected_page{
    background-color: darkgray;
}
